body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #003366;
  background-color: #f4f4f4;
}

header {
  background-color: #ffffffcc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}

.hero {
  background-image: url('img/illustration.png');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  background-color: red;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.highlight {
  color: #00bfff;
}

.cta-button {
  margin-top: 20px;
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border: none;
  
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #003366;
  color: white;
}
.hero {
  margin-top: 80px; /* ajuste selon la hauteur de ton header */
}
