fen principale
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#container {
  width: 100vw;
  height: calc(100vh - 60px); /* Soustrait la hauteur de la barre */
  background: radial-gradient(circle at center, #0d0d1a 0%, #000 100%);
  position: relative;
  top: 0;
  left: 0;
  margin-top: 60PX;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: auto;
  z-index: 0;
}

/* vue du caroussel */
#preview {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  background-color: #111a44; /* bleu foncé */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#close-preview {
  align-self: flex-end;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65VW;
  height: 90VW;
  gap: 10px;
}

#prev-btn, #next-btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  user-select: none;
}

#carousel-slide {
  flex-grow: 1;
  text-align: center;
}

#carousel-slide img {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 10px;
  user-select: none;
}

#carousel-slide p {
  margin-top: 10px;
}
/* ne pas voir la barre sous les images  */
#carousel-track {
  /* ... existant ... */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

#carousel-track::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
